a {
    text-decoration: none;
}

.body {
    font-family: Montserrat, sans-serif;
}

.container {
    background: url("../image/Layer15.png");
    background-attachment: fixed;
    height: auto;
    max-width: auto;
    background-size: cover;
}

.section-header {
    background: rgba(94, 93, 88, 0.6);
    display: flex;
    justify-content: space-around;
    padding-left: 30px;
}

.header {
    display: flex;
    justify-content: inherit;
    width: 1160px;
}

.header_logo {
    display: flex;
    align-items: center;
}

.header_menu {
    display: flex;
    align-items: center;
}

.header_logo_H {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
    right: 17px;
}

.header_logo_img {
    position: absolute;
    z-index: 1;
    transform: translate(-30px, -16px);
}

.header_logo_text {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}

.header_logo_text_span {
    font-weight: bold;
    color: #18CFAB;
}

.header_menu {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 50px;
}

.header_menu_text {
    padding-bottom: 50px;
    margin-right: 10px;
    color: rgba(255, 255, 255, 0.6);
}

.header_menu_text:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18cfab;
}

.main_part {
    text-align: center;
    margin-top: 15%;
}

.main_text {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 80px;
}

.main_text_span {
    color: #18CFAB;
}

.main_text_1 {
    font-style: normal;
    font-weight: bold;
    font-size: 78px;
    line-height: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 80px;
}

.main_text_2 {
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 1px;
    text-align: center;
    color: #D4D4D4;
    margin-top: 80px;
}

.main_button {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 65px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 150px;
    text-align: center;
    padding-bottom: 243px;
}

.button_blue {
    background-color: #18CFAB;
    width: 169px;
    height: 63px;
    margin-left: 50px;
    border-radius: 5px;
    border-top: 3px solid #FFFFFF;
}

.button_green {
    background-color: #00CBF6;
    width: 169px;
    height: 63px;
    border-radius: 5px;
    border-top: 3px solid #FFFFFF;
}

.blocks {
    display: flex;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    padding-top: 10px;
}

.block {
    width: 482px;
    height: 377px;
    background: #1C2A33;
    color: #18CFAB;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.block_2 {
    width: 482px;
    height: 377px;
    background: #18CFAB;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.block_img {
    padding: 20px 70px;
}

/* ------Our Services------ */

.our-services_container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

.our-services_name {
    font-size: 36px;
    color: #4E4E4E;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-bottom: 100px;
    padding-top: 60px;
}

.our-services_name::before {
    content: '';
    width: 78px;
    position: absolute;
    border: 1px solid #18CFAB;
    top: 113px;
    left: 50%;
    transform: translateX(-60%);
}

.our-services_name::after {
    content: '';
    width: 78px;
    position: absolute;
    border: 1px solid #18CFAB;
    top: 118px;
    right: 50%;
    transform: translateX(60%);
}

.our-services__menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-services__menu_list {
    font-size: 16px;
    color: #717171;
    width: 192px;
    height: 72px;
    background-color: #f8fcfe;
    line-height: 70px;
    border: 1px solid #ebebeb;
    position: relative;
    cursor: pointer;
    flex: 1;
    text-align: center;
}

.our-services__menu_list:hover {
    border: 1px solid #18CFAB;
}

.our-services__menu_list.active {
    color: white;
    background-color: #18CFAB;
}

.our-services__menu_list.active::after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-top-color: #18CFAB;
    bottom: -20px;
    left: 84px;
}

.our-services__content {
    display: none;
}

.our-services__content.active {
    display: flex;
    margin-right: 20px;
    justify-content: center;
    padding-top: 28px;
    padding-bottom: 91px;
}

.our-services__img {
    width: 192px;
    height: 139px;
}

.our-services__text {
    padding-left: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777;
}

.footer_background {
    background-image: url("../image/Layer211.png");
    background-attachment: fixed;
    width: auto;
    height: auto;
    background-size: cover;
    text-align: center;
    display: grid;
    justify-items: center;
}

.footer_title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
    padding-top: 126px;
}

.footer_text {
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    padding: 12px 0 67px 0;
    font-weight: 400;
}

.footer_button {
    background-color: #18CFAB;
    width: 169px;
    height: 63px;
    border-radius: 5px;
    border-top: 3px solid #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 55px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 127px;
}

/* -----Our Amazing Work----- */

.our-amazing_work__background {
    background: #E9EDEF;
}
.our-amazing_work__container{

padding-bottom: 100px;
}

.our-amazing_work__content {
    max-width: 1160px;
    justify-content: center;
    margin-left: 138px;
    padding-top: 70px;
    flex-wrap: wrap;
    display: flex;
}

.work_menu {
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 15.9859px;
    line-height: 73px;
    justify-content: center;
    text-align: center;
    color: #717171;
}

.our-amazing_work__menu_list {
    width: 157px;
    height: 66px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
}

.our-amazing_work__menu_list.all {
    width: 80px;
    height: 66px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
}

.our-amazing_work__menu_list.all:hover {
    color: #18CFAB;
    border: 1px solid #18CFAB;
}

.our-amazing_work__menu_list:hover {
    color: #18CFAB;
    border: 1px solid #18CFAB;
}

.amazing_image_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.amazing_image_item {
    display: flex;
    position: relative;
}

.amazing_work_image {
    width: 285px;
    height: 211px;
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.amazing_image_description {
    text-align: center;
    width: 285px;
    height: 211px;
    border-top: 2px solid #18cfab;
}

.amazing_image_item:hover .amazing_work_image {
    opacity: 0;
    z-index: -1;
}

.photo_icons {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.logo_work {
    margin-right: 5px;
    background-color: #18cfab;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    background-image: url(./image/Layer23.png);
}

.logo_work_icon {
    background-image: url(./image/http://www.w3.org/2000/svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    border: 1px solid #18cfab;
    border-radius: 50%;
}

.logo_work:hover {
    border-top-color: #18cfab;
    color: #E9EDEF;
    cursor: pointer;
}

.logo_icon {
    color: #18cfab;
}

.photo_text {
    display: block;
    text-align: center;
}

.image_text {
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
}

.image_text_small {
    font-weight: 300;
    font-size: 13px;
    line-height: 25px;
    color: #8A8A8A;
}

.hidden {
    display: none;
}

.load_more_btn {
    text-align: center;
    margin-top: 80px;
}

.button {
    min-width: 170px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    padding: 25px 16px;
    outline: none;
    border: none;
}

.work_btn {
    cursor: pointer;
    background: #18CFAB;
}

/* -----Breaking News----- */

.breaking-news_container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.breaking-news_content {
    display: grid;
    justify-items: center;
}

.breaking-news-big_block {
    display: flex;
    padding-bottom: 40px;
}

.breaking-news_block {
    display: block;
    padding-right: 10px;
}

.breaking-news_image {
    width: 263px;
    height: 208px;
    position: relative;
    z-index: 1;
}

.breaking-news_date {
    width: 70px;
    height: 68px;
    background: #203E38;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    z-index: 2;
    transform: translate(192px, -211px);
}

.breaking-news_block:hover .breaking-news_date {
    background: #18CFAB;
}

.breaking-news_text {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
    padding-left: 10px;
    width: 264px;
    height: 72px;
}

.breaking-news_block:hover .breaking-news_text {
    color: #18CFAB;
}

.breaking-news_text_small {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
}

/* -----What People Say About theHam----- */

.section-testimonials {
    background: url("../image/Layer 333.png");
    background-attachment: fixed;
    height: auto;
    max-width: auto;
    background-size: cover;
}

.section-testimonials-container {
    max-width: 1160px;
    margin: 0 auto;
    padding-bottom: 105px;
}

.section-testimonials-title {
    font-size: 36px;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-bottom: 100px;
    padding-top: 60px;
}

.section-testimonials-title::before {
    content: '';
    width: 78px;
    position: absolute;
    border: 1px solid #18CFAB;
    top: 113px;
    left: 50%;
    transform: translateX(-60%);
}

.section-testimonials-title::after {
    content: '';
    width: 78px;
    position: absolute;
    border: 1px solid #18CFAB;
    top: 118px;
    right: 50%;
    transform: translateX(60%);
}

.shapes {
    display: block;
    margin: 0 auto;
    width: 44px;
    height: 30px;
}

.display-none {
    display: none;
}

.slider-for {
    text-align: center;
    margin-bottom: 50px;
}

.item-text {
    margin-top: 36px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
}

.item-autor {
    margin-top: 37px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #18CFAB;
}

.item-autor-job {
    margin-top: 18px;
    margin-bottom: 38px;
    font-weight: 300;
    font-size: 13px;
    color: #BBBBBB;
}

.item-img {
    margin: 0 auto;
    border: 12px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    width: 130px;
    height: 132px;
}

.feedback_slider {
    width: 483px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow_left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #BBBBBB;
    left: -46px;
}

.arrow_left:hover {
    border: none;
    background-color: #18cfab;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid #BBBBBB;
}

.arrow:hover {
    border: none;
    background-color: #18cfab;

}

 .nav_slider img{
    border-radius: 50%;
    transition: all .3s;
    box-shadow: 0 0 0 5px rgba(31, 218, 181, 0.2);
 }

.nav_slider :hover {
    cursor: pointer;
    margin-top: -13px;
} 

.nav_slider.top {
    margin-top: -13px;
}

.slider_animation {
    transform: translateY(-10px);
    transition: all .3s;
    width: 61px;
    height: 61px;
}

.footer {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    padding: 48px 0;
    color: #AEAEAE;
    background-color: #22353F;
}

.span_color {
    color: #18cfab;
}
